.Image-card {
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  transition: box-shadow 250ms ease-out, transform 250ms ease-out;
}

.Image-link {
}

.Image-card:hover {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
  transform: translate(0, -5px);
}

.Image-date {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  padding: 0.5rem;
}

.Image-placeholder-card {
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #394147;
  display: flex;
  height: 249px;
  flex-direction: column;
  margin: 1rem;
  transition: box-shadow 250ms ease-out, transform 250ms ease-out;
  width: 210px;
}

.Image-error {
  align-items: center;
  background-color: #394147;
  color: #fff;
  display: inline-flex;
  height: 210px;
  justify-content: center;
  text-decoration: none;
  text-underline: #394147;
  width: 210px;
}

.Image-img {
  height: 210px;
  width: 210px;
}
