.WorkItem {
  display: flex;
}

.WorkItem-title {
  font-size: 1.4rem;
}

.WorkItem-org {
  font-size: 1.2rem;
}

.WorkItem-dates {
  color: #939393;
  font-size: 0.8rem;
}

.WorkItem-summary {
  font-size: 1.2rem;
}
