body {
  font-size: 1rem;
  font-family: 'Alegreya Sans', sans-serif;
}

a {
  color: #337ab7;
  text-decoration: none;
  transition: all 200ms ease-out;
}

a:hover {
  color: #218be6;
  text-decoration: underline;
}

.translate-y-2 {
  transition: all 0.15s ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.translate-y-2:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
