.ProjectItem {
  display: flex;
  flex-direction: column;
  min-width: 14rem;
  max-width: 15rem;
  padding: 1rem;
  padding-left: 0;
}

.ProjectItem-title {
  font-size: 1.4rem;
}

.ProjectItem-org {
  color: #939393;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

.ProjectItem-summary {
  flex: 1;
  font-size: 1.2rem;
}

.ProjectItem-link-section {
  padding-top: 0.5rem;
}

.ProjectItem-link {
  padding-right: 0.3rem;
}
